# Helm values for OpenChoreo Control Plane in k3d single-cluster setup
# This file contains overrides specific to running the control plane in a k3d environment

openchoreoApi:
  ingress:
    enabled: true
    hosts:
      - host: api.openchoreo.upstream
        paths:
          - path: /
            pathType: Prefix

backstage:
  ingress:
    enabled: true
    hosts:
      - host: openchoreo.upstream
        paths:
          - path: /
            pathType: Prefix
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: openchoreo-control-plane-strip-hsts@kubernetescrd
  baseUrl: http://openchoreo.upstream:8080
  auth:
    authorizationUrl: http://thunder.openchoreo.upstream:8080/oauth2/authorize

asgardeoThunder:
  ingress:
    enabled: true
    hosts:
      - host: thunder.openchoreo.upstream
        paths:
          - path: /
            pathType: Prefix
            port: 8090
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: openchoreo-control-plane-strip-hsts@kubernetescrd
  config:
    gateClient:
      hostname: "thunder.openchoreo.upstream"
  runtimeConfig:
    server:
      hostname: "thunder.openchoreo.upstream"
  backstagePortal:
    redirectUrls:
      - http://openchoreo.upstream:8080/api/auth/default-idp/handler/frame
      - http://localhost:7007/api/auth/default-idp/handler/frame
